$main-color: #333;
// $sub-color: #ccc;
$accent-color: #5bc2ce;

body {
  margin: 0;
  padding: 0;
  // background: $accent-color;
  background: $main-color;
  color: #ffffff;
}

/* ヘッダー */

.l-header {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: $accent-color;
  margin: 0;
  @media screen and (max-width: 648px) {
    justify-content: center;
  }

  &__tit {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: "Cookie", cursive;
    text-shadow: -1px 0 3px darken($accent-color, 30%);
    @media screen and (max-width: 648px) {
      margin-left: -1em;
      margin-bottom: 10px;
      font-size: 24px;
    }

    .uil-trees {
      margin-right: 10px;
      font-size: 30px;
      color: #fff;
      @media screen and (max-width: 648px) {
        margin-right: 3px;
        font-size: 18px;
      }
    }
  }
  .c-copyrights {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    a {
      display: inline-block;
      color: darken($accent-color, 20%);
      text-decoration: none;
      padding: 15px 10px;
      background: #5bc2ce;
      border-radius: 5px;
      box-shadow: 6px 6px 8px #53b1bb, -6px -6px 8px #63d3e1;
      font-size: 14px;
      &:hover {
        // text-decoration: underline;
        background: darken($accent-color, 15%);
        transition: 0.5s ease-in-out;
        color: #efefef;
      }
    }
  }
}
// 全体
.l-contents {
  position: relative;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-width: 648px) {
    padding-top: 10%;
  }
  .custom-shape-divider-top-1600586343 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1600586343 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
  }

  .custom-shape-divider-top-1600586343 .shape-fill {
    fill: #5bc2ce;
  }
}

// テキスト箇所の設定
.c-textarea {
  position: relative;
  width: 47%;

  // overflow-y: scroll;
  @media screen and (max-width: 648px) {
    width: 100%;
    // height: calc(60vh - 100px);
  }
  &__tit {
    position: sticky;
    top: 0;
    font-size: 18px;
    font-weight: normal;
    color: #666;
    font-family: "Courier New", Courier, monospace;
    text-shadow: -1px 0 0 #000;
    background: $main-color;
    min-height: 25px;
    box-sizing: border-box;
    @media screen and (max-width: 648px) {
      padding: 0 10px;
    }
  }
  &__inner {
    width: 100%;
    height: calc(100vh - 200px);
    @media screen and (max-width: 648px) {
      height: 30vh;
    }
    padding: 1em;
    appearance: none;
    color: #ccc;
    box-sizing: border-box;
    line-height: 1.8;
    background: $main-color;
    border: none;
    box-shadow: inset 9.91px 9.91px 15px #2e2e2e,
      inset -9.91px -9.91px 15px #383838;

    &::selection {
      background-color: #a3a3a3;
      color: #ffffff;
    }
    &:focus {
      background: #222;
      box-shadow: inset 1.2px 1.2px 8px #191919, inset -1.2px -1.2px 8px #2b2b2b;
      outline: 0;
    }
  }
  &--dendrogram {
    .c-tit__area {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      background: $main-color;
    }
  }
}

// ボタン
.c-btn {
  &__inner {
    width: 100px;
    height: 48px;
    margin-bottom: 10px;
    appearance: none;
    outline: 0;
    border: none;
    background: $accent-color linear-gradient(145deg, #6eeaf8, #489aa4);
    border-radius: 5px;
    box-shadow: 1.2px 1.2px 8px #1f1f1f, -1.2px -1.2px 8px #252525;
    color: #fff;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    @media screen and (max-width: 648px) {
      margin: 10px 10px 10px 0;
    }
    &:hover {
      background: darken($accent-color, 15%);
      transition: 0.5s ease-in-out;
      color: #efefef;
    }
  }
}
