@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: #333;
}

/* ヘッダー */
.l-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #efefef;
  margin: 0;
}

@media screen and (max-width: 648px) {
  .l-header {
    justify-content: center;
  }
}

.l-header__tit {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

@media screen and (max-width: 648px) {
  .l-header__tit {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.l-header__tit .uil-trees {
  margin-right: 10px;
  font-size: 30px;
}

@media screen and (max-width: 648px) {
  .l-header__tit .uil-trees {
    margin-right: 3px;
    font-size: 18px;
  }
}

.l-header .c-copyrights {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.l-header .c-copyrights a {
  display: inline-block;
  color: #707070;
  text-decoration: none;
  padding: 15px 10px;
  background: #efefef;
  border-radius: 5px;
  box-shadow: 3px 3px 8px white, -3px -3px 8px #bcbcbc;
  font-size: 14px;
}

.l-header .c-copyrights a:hover {
  background: #8f44f2;
  transition: 0.5s ease-in-out;
  box-shadow: 1.2px 1.2px 8px black, -1.2px -1.2px 8px darken #ba8cf7, 20%;
  color: #fff;
}

.l-contents {
  position: relative;
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-;
  background: linear-gradient(270deg, #dfe9f3, #3d99be, #df89b5);
  background-size: 600% 600%;
  animation: gradient-animation 7s ease infinite;
}

@media screen and (max-width: 648px) {
  .l-contents {
    padding: 15% 10px 0;
  }
}

.l-contents .custom-shape-divider-top-1600586343 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.l-contents .custom-shape-divider-top-1600586343 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.l-contents .custom-shape-divider-top-1600586343 .shape-fill {
  fill: #efefef;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.c-textarea {
  position: relative;
  width: 47%;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #333;
  box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2), -3px -3px 10px rgba(26, 26, 26, 0.2);
}

@media screen and (max-width: 648px) {
  .c-textarea {
    width: 100%;
    margin-bottom: 10px;
  }
}

.c-textarea__tit {
  position: sticky;
  top: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: normal;
  color: #666;
  font-family: "Courier New", Courier, monospace;
  text-shadow: -1px 0 0 #000;
  background: #333;
  min-height: 25px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.c-textarea__tit--text {
  margin: 0;
  padding: 20px;
}

@media screen and (max-width: 648px) {
  .c-textarea__tit {
    padding: 20px 20px 20px 10px;
  }
}

.c-textarea__inner {
  width: 100%;
  height: calc(100vh - 230px);
  max-width: 100%;
  padding: 1em;
  appearance: none;
  color: #ccc;
  box-sizing: border-box;
  line-height: 1.8;
  background: #333;
  border: none;
  box-shadow: inset 9.91px 9.91px 15px #2e2e2e, inset -9.91px -9.91px 15px #383838;
}

@media screen and (max-width: 648px) {
  .c-textarea__inner {
    height: 30vh;
  }
}

.c-textarea__inner::selection {
  padding: 10px;
  background-color: #ba8cf7;
  color: #ffffff;
}

.c-textarea__inner:focus {
  background: #222;
  box-shadow: inset 1.2px 1.2px 8px #191919, inset -1.2px -1.2px 8px #2b2b2b;
  outline: 0;
}

.c-textarea--dendrogram .c-tit__area {
  position: sticky;
  top: 0;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  background: #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.c-textarea--dendrogram .c-textarea__tit {
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  line-height: 1.8;
}

.c-btn {
  align-self: center;
}

.c-btn__inner {
  width: 100px;
  height: 48px;
  appearance: none;
  outline: 0;
  border: none;
  background: #ba8cf7 linear-gradient(145deg, #6eeaf8, #489aa4);
  border-radius: 48px;
  box-shadow: 1.2px 1.2px 8px #1f1f1f, -1.2px -1.2px 8px #252525;
  color: #efefef;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 648px) {
  .c-btn__inner {
    margin: 10px 0;
  }
}

.c-btn__inner:hover {
  background: #8f44f2;
  transition: 0.5s ease-in-out;
  color: #efefef;
}
